<%= form_for(@store_chain) do |f| %>
  <% if @store_chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_chain.errors.count, "error") %> prohibited this store_chain from being saved:</h2>

      <ul>
      <% @store_chain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
