<h1>Listing stores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Street address</th>
    <th>City</th>
    <th>Province</th>
    <th>Postal code</th>
    <th>Phone</th>
    <th>Description</th>
    <th>Lat</th>
    <th>Lng</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><%= store.street_address %></td>
    <td><%= store.city %></td>
    <td><%= store.province %></td>
    <td><%= store.postal_code %></td>
    <td><%= store.phone %></td>
    <td><%= store.description %></td>
    <td><%= store.lat %></td>
    <td><%= store.lng %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
