<header>
  <nav>
    <%= link_to "< Back to List", :controller => "home", :action => "index"%>
  </nav>
  <div id="logout">
    <a href="#">Logout</a>
  </div>
  <form id="itemLookup" method="get" action="item">
    <fieldset>
      <%= text_field_tag :itemNumber, params[:n], :placeholder => 'Enter Item #', :value => @id %>
      <input type="submit" value="Go">
    </fieldset>
  </form>
</header>

<div id="messaging"></div>
<article>
  <h2 id="itemNumberLabel"></h2>
  <div id="container"></div>
  <div id="item_details">
    <form id="item_actions" method="get" action="save">
      <fieldset>

    <p>Done Item:<%= check_box_tag 'done', 'yes', params[:done] %></p>
    <p>Product Material:</p><%= text_field_tag :product_materials, params[:product_materials] %>
    <p>Comments:</p><%= text_area_tag :comments, params[:comments] %>
    <input type="hidden" name="id" value="<%= params[:id] %>">
    <input type="submit" value="Save Item" id="save">
    <%= link_to 'Delete Item', url_for(:controller=>'home', :action=>'delete', :id=>@id), :id=>'delete', :style=>'display:none' %>
      </fieldset>
    </form>
  </div>

</article>


<%= javascript_include_tag 'jquery.galleriffic', 'jquery.opacityrollover', 'application' %>
